body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #2856d6;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin: 10px 0;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
    background-color: #4876f3;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}